// COLORS
/*
#8EBA43
#4B7447
#7DA3A1
#90afc5
#336b87
#34675C
#324851
#1E434C
#063852
#011A27
#2a3132
#324851
#284451 
#1f4051 
#143c52 
#063852
#ffb900
#C99E10
#D9B44A
*/

$color-primary: #336b87;

$color-bright-gold: #ffb900;
$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-dark-1: #255168;
$color-tertiary-dark-2: #1f4051;
$color-tertiary-dark-3: #2a3132;

$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eee;

$color-gray-dark-1: #777;
$color-gray-dark-2: #2a3132;
$color-gray-dark-3: #222;
$color-gray-dark-4: #494947;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;