.final-score {
    position: absolute;
    left: 40%;
    top: 33rem;
    color: $color-black;
    padding: 1rem 1rem .6rem 1rem;
    text-transform: uppercase;
    border: none;
    border-radius: .5rem;
    @include txtCenter;
    background-color: transparent;
    box-shadow: 0 .4rem 1rem rgba($color-black, 0.3);
    font-family: Lato;
    font-size: 2rem;
    text-transform: uppercase;
    width: 20%;

    &:focus { outline: none; }

    &:focus:invalid {
        border-bottom: 3px solid $color-bright-gold;            
    }
    
    &:focus {
        outline: none;
        box-shadow: 0 1rem 2rem rgba($color-black, .1);
        border-bottom: 3px solid $color-primary;
    }
    
    @include respond(tab-land) {
        left: 40%;
    }

    @include respond(phone) {

        font-size: 1.5rem;
    }

    @include respond(phone-low) {

        font-size: 1.5rem;
    }
}





.form__label {
    position: absolute;
    left: 41%;
    top: 33rem;
    font-family: Lato;
    font-size: 2rem;
    text-transform: uppercase;
    // font-weight: bold;
    margin-left: 1.8rem;
    margin-top: -3.5rem;
    display: block;
    color: $color-gray-dark-1;
    transition: all .3s;

    @include respond(tab-land) {
        left: 39%;
    }

    @include respond(phone) {
        left: 38%;
        font-size: 1.8rem;
    }

    @include respond(phone-low) {
        left: 38%;
        font-size: 1.8rem;
    }
}

.final-score:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(4rem);
}

